.container {
  width: 80%;
  margin: auto;
}

.Tabs_container {
  display: flex;
  border-bottom: 1px solid #ebeef0;
}

.ChapterAndJuzList_sorter {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.Tabs_tabItem__b_JVR {
  cursor: pointer;
  padding: 10px;
}

.ch_juz_tabs_container {
  padding-bottom: 15px;
}

.ch_juz_list_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  gap: 10px;
  width: 100%;
  flex-direction: column;
}

.ch_juz_list_chapter_container {
  background-color: white;
  border-radius: 8px;
}

.SurahPreviewRow_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ebeef0;
  padding-block-start: 20px;
  padding-block-end: 20px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  border-radius: 8px;
  cursor: pointer;
}